* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #E3F2FD;
}

.title {
    color: #b8c6e5;
    text-align: center;
    margin-top: 16px;
    font-size: 42px;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-family: 'Black Ops One', cursive;
}

.game-structure {
    width: 50vw;
    height: 70vh;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    background: #293447;
    box-shadow: 0 20px 40px rgba(52, 87, 220, 0.2);
}

.score-info {
    color: #B8C6DC;
    font-weight: 500;
    font-size: 20px;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}

.game-box {
    height: 100%;
    width: 100%;
    display: grid;
    background: #212837;
    grid-template: repeat(20, 1fr) / repeat(20, 1fr);
}

